<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.main.persistence.MainMapper">
  
  <!--  전체 북리스트 가져오기 -->
  <select id="getAllPL" resultType="com.member.domain.BookListVO">
     select * from BookList where listStatus=0 order by list_no desc
  </select>
  
    <!--  스크랩 카운트 순으로 북리스트 가져오기 -->
  <select id="getBestPL" resultType="com.member.domain.BookListVO">
     select * from BookList where listStatus=0 order by scrapCount desc
  </select>
  
  
  <!-- 장르 전체 북리스트의 리스트넘 가져오기 -->
  <select id="getAllGenreListNo" resultType="int">
     select list_no from BookPLKeyword where keyword_no between 0 and 15
  </select>
  
  <!-- 무드 전체 북리스트의 리스트넘 가져오기 -->
  <select id="getAllMoodListNo" resultType="int">
     select list_no from BookPLKeyword where keyword_no between 16 and 27
  </select>
  
  <!-- 상황 전체 북리스트의 리스트넘 가져오기 -->
  <select id="getAllSituListNo" resultType="int">
     select list_no from BookPLKeyword where keyword_no between 28 and 34
  </select>

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </mapper>